<ejs-grid [dataSource]="data">
  <e-columns>
    <e-column
      headerText="For all patient from Pick List"
      textAlign="Left"
    ></e-column>
  </e-columns>
  <ng-template #rowTemplate let-data>
    <tr>
        <td width="80px;">
          {{data.BirthDate| date:'M/d/ hh:mm'}}
        </td>
        <td class="details">
            <table class="CardTable" cellpadding="3" cellspacing="2">
                <colgroup>
                    <col width="50%">
                    <col width="50%">
                </colgroup>
                <tbody>
                    <tr>
                        <td class="CardHeader">First Name </td>
                        <td>{{data.FirstName}} </td>
                    </tr>
                    <tr>
                        <td class="CardHeader">Last Name</td>
                        <td>{{data.LastName}} </td>
                    </tr>
                    <tr>
                        <td class="CardHeader">Title</td>

                        <td>{{data.Title}}</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</ng-template>

</ejs-grid>
